<div class="bg-main">
    <div class="carousel carousel-slider">
        <a class="carousel-item"><img src="../../assets/img/1.png"></a>
        <a class="carousel-item"><img src="../../assets/img/2.png"></a>
        <a class="carousel-item"><img src="../../assets/img/3.png"></a>
        <a class="carousel-item"><img src="../../assets/img/4.png"></a>
        <a class="carousel-item"><img src="../../assets/img/5.png"></a>
    </div>
    <div style="margin-top: 25px;" class="center">
        <a style="margin-right: 25px">
            <img src="../../assets/img/a.png" height="60" alt="">
        </a>
        <a style="margin-right: 25px">
            <img src="../../assets/img/b.png" height="60" alt="">
        </a>
        <a>
            <img src="../../assets/img/c.png" height="60" alt="">
        </a>
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <span style="font-family: point; font-size: 17px">Produk Favorit</span>
    <a href="" class="right">Lihat Lainnya</a>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col s4 center">
        <a [routerLink]="['/post']">
            <img src="../../assets/img/11.jpg" class="responsive-img">
        </a>
        Makanan
    </div>
    <div class="col s4 center">
        <a >
            <img src="../../assets/img/22.jpg" class="responsive-img">
        </a>
        Makanan
    </div>
    <div class="col s4 center">
        <a >
            <img src="../../assets/img/11.jpg" class="responsive-img">
        </a>
        Makanan
    </div>
</div>

<div class="container" style="margin-top: 20px;">
    <span style="font-family: point; font-size: 17px">Produk Terbaru</span>
    <a href="" class="right">Lihat Lainnya</a>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col s4 center">
        <a >
            <img src="../../assets/img/22.jpg" class="responsive-img">
        </a>
        Makanan
    </div>
    <div class="col s4 center">
        <a >
            <img src="../../assets/img/11.jpg" class="responsive-img">
        </a>
        Makanan
    </div>
    <div class="col s4 center">
        <a >
            <img src="../../assets/img/22.jpg" class="responsive-img">
        </a>
        Makanan
    </div>
</div>
